<!DOCTYPE html>
<html>
<head>
  <title>ADMIN PANEL</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--top outer open-->
<div id="top_outer">
    <!--top inner open-->
    <div id="top_inner">
       <% if user_signed_in? %>
        <div class="siteHome margintop"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></div>
       <% end %>
    </div>
    <!--top inner closed-->
</div>
<!--top outer closed-->

<!--header outer open-->
<div id="header_outer">
    <!--header inner open-->
    <div id="header_inner">
        <h1>Welcome to plug and share admin panel</h1>
    </div>
    <!--header inner closed-->
</div>
<!--header outer closed-->


<!--container outer open-->
<div id="container_outer">
  <%= yield %>
</div>
</body>
</html>
